{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h1>Create short URL</h1>

    {% if flash %}
      <div class="alert alert-info">
        {% if flash.existing %} Short URL already exists: {% else %} Added short URL: {% endif %}
        <a href="http://localhost:3000/u/{{flash.url}}">http://localhost:3000/u/{{flash.url}}</a>
      </div>
    {% endif %}

    <form action="/add" method="post">
      {% csrf-field %}
      <div class="form-group">
        <label for="url">URL</label>
        <input type="text" name="url" id="url" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>
{% endblock %}
